.carrusel{
    display: flex;
    justify-content: center;
}

#left,#right{
    background:#bc4ed8;
    border: none;
    animation: all .5s ease-in-out;
    color:white;
    font-weight: bold;
    font-size: 20px;
}
#left:hover{
    background-color: rgba(0,0,0,0.3);
    color:white;
}
#right:hover{
    background-color: rgba(0,0,0,0.3);
    color:white;
}

.imgContainer{
    width: 500px;
    height: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer>img{
    height: 100%;
}

.punto{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: blueviolet;
    border: 1px solid white;
}
#puntitosContainer{
    position: absolute;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25%;
}
.puntoActual{
    background-color: greenyellow;
}