body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Moderna/sources/carillas-dentales-sonrisa-24h.jpg'); /* Reemplaza 'fondo.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #09f1e6;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin: 0; /* Agrega esta línea para eliminar el margen predeterminado */
    position: relative; /* Agrega esta línea para establecer una posición relativa */
    z-index: 0; /* Agrega esta línea para asegurarte de que el encabezado esté sobre la imagen de fondo */
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    background-color: #09f1e6;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}
#logo {
    width: 100px; /* Ajusta el ancho deseado para tu logotipo */
    height: 100px; /* Autoajusta la altura según el ancho para mantener la proporción */
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
    display: block; /* Cambia la visualización de la imagen a bloque para controlar los márgenes */
    margin: 10px auto; /* Establece márgenes horizontal y vertical para centrar la imagen */
    border: none; /* Elimina cualquier borde existente */
}

.carousel {
    display: flex;
    width: 100%; /* Ajusta el ancho deseado */
    overflow: hidden;
    justify-content: center; /* Centra horizontalmente las imágenes */
}

.carousel img {
    max-width: 100%; /* Establece un ancho máximo para las imágenes */
    height: auto;
    display: none;
}

/* Estilo para las flechas de navegación */
.slick-prev,
.slick-next {
    background-color: #09f1e6;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    user-select: none; /* Evita la selección de texto accidental */
}

.slick-prev {
    left: 20px;
}

.slick-next {
    right: 20px;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

.input-group {
    display: grid;
    gap: 5px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #09f1e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0ea7b5;
}