body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../Moderna/sources/carillas-dentales-sonrisa-24h.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

header {
    background-color: #32c595
    ;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    margin: 0; /* Agrega esta línea para eliminar el margen predeterminado */
    position: relative; /* Agrega esta línea para establecer una posición relativa */
    z-index: 0; /* Agrega esta línea para asegurarte de que el encabezado esté sobre la imagen de fondo */
}
#inicio{
    color: #ffffff;
}
#ofrecemos {
    li{
        list-style-type: none;
    }
    text-align: center;
    text-size: 300%;
    color: #ffffff;
}
#objetivos{
    color: #ffffff;
}
#mision{
    color: #ffffff;
}
#vision{
    color: #ffffff;
}
#valores{
    
}
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

footer {
    color: #ffffff;
    background-color: #32c595;
    text-align: center;
    padding: 10px;
}
#logo {
    width: 100px; /* Ajusta el ancho deseado para tu logotipo */
    height: 100px; /* Autoajusta la altura según el ancho para mantener la proporción */
    margin-top: 30px; /* Ajusta el margen superior según sea necesario */
    display: block; /* Cambia la visualización de la imagen a bloque para controlar los márgenes */
    margin: 10px auto; /* Establece márgenes horizontal y vertical para centrar la imagen */
    border: none; /* Elimina cualquier borde existente */
}

.carousel {
    display: flex;
    width: 100%; /* Ajusta el ancho deseado */
    overflow: hidden;
    justify-content: center; /* Centra horizontalmente las imágenes */
}

.carousel img {
    max-width: 100%; /* Establece un ancho máximo para las imágenes */
    height: auto;
    display: none;
}

/* Estilo para las flechas de navegación */
.slick-prev,
.slick-next {
    background-color: #32c595;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slick-prev {
    left: 0;
    transform: translateY(-50%); /* Centra verticalmente en el borde izquierdo */
}

.slick-next {
    right: 0;
    transform: translateY(-50%); /* Centra verticalmente en el borde derecho */
}

h1 {
    background-color: #32c595;
    text-align: center;
}

form {
    display: grid;
    gap: 10px;
}

.input-group {
    display: grid;
    gap: 5px;
}

label {
    font-weight: bold;
}

#prevBtn {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#nextBtn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #32c595;
}
#Contacto

.back-button {
    text-align: center;
    margin: 20px 0;
}

.back-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #32c595;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.back-button a:hover {
    background-color: #32c595;
}
#contacto {
    border-top: 2px solid #32c595; /* Agrega un borde superior de color */
    background-color: #32c595; /* Agrega un fondo de color */
    padding: 20px; /* Añade espaciado interno para mejorar el aspecto */
}

/* Estilo para la dirección, teléfono y correo en el área de contacto */
#contacto address {
    font-size: 16px;
    margin-top: 10px; /* Ajusta el margen superior según sea necesario */
}
#contacto footer {
    background-color: #bb0339; /* Agrega un fondo de color al pie de página */
    color: #032c595; /* Cambia el color del texto para que sea legible en el fondo */
    text-align: center;
    padding: 10px;
}
#volverBtn {
    background-color: #32c595;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Quita el subrayado del enlace */
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px; /* Ajusta el margen izquierdo según tu preferencia */
    cursor: pointer;
}

#volverBtn:hover {
    background-color: #000000;
}
#servicios{
    color: #ffffff;
}
#limpieza{
    color: #ffffff;
}
#blanqueamiento{
    color: #ffffff;
}
#implantes{
    color: #ffffff;
}
#extraccion{
    color: #ffffff;
}
#Volverpagebtn{
    background-color: #32c595;
}